body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: tahoma;
    font-size: 14px;
}

header {
margin-bottom: 20px; /* Ajusta el margen según tus necesidades */
text-align: center; /* Centra el texto dentro del encabezado */
}
#centrado{
    text-align: center;
}


.container {
width: 80%; /* Ancho de la caja */
max-width: 600px; /* Ancho máximo de la caja */
padding: 20px; /* Espaciado interno */
background-color: #ffffff; /* Color de fondo de la caja */
border: 1px solid #cccccc; /* Borde de la caja */
border-radius: 8px; /* Radio de borde */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
